/* Coolors Exported Palette - coolors.co/ff6978-fffcf9-b1ede8-6d435a-352d39 */

/* HSL */
$color1: hsla(354%, 100%, 71%, 1);
$color2: hsla(30%, 100%, 99%, 1);
$color3: hsla(175%, 63%, 81%, 1);
$color4: hsla(327%, 24%, 35%, 1);
$color5: hsla(280%, 12%, 20%, 1);

/* RGB */
$salmon: rgba(255, 105, 120, 1);
$white: rgba(255, 252, 249, 1);
$light: rgba(177, 237, 232, 1);
$purple: rgba(109, 67, 90, 1);
$dark: rgba(53, 45, 57, 1);
