* {
  font-family: "Hind Siliguri", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  color: $color1;
  font-weight: 600;
}

.desc-item {
  margin-bottom: 0px;
  span {
    font-weight: 600;
  }
}

.rated {
  margin-bottom: 5px;
  span {
    border: 1px solid $color1;
    border-radius: 10px;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-transform: uppercase;
    font-weight: 600;
  }
}
