.header {
  display: flex;
  background-color: $color1;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  color: $color5;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
    justify-content: center;
  }
}

.head-title {
  width: 180px;
  cursor: pointer;
}

.login-btn-header {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  height: 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  margin-right: 10px;
  font-size: 1rem;
  transition: all 0.4s ease;
  &:hover {
    color: $accent;
  }
}

.create-btn-header {
  cursor: pointer;
  text-align: center;
  padding: 10px;
  height: 20px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1.5px solid $color5;
  transition: all 0.4s ease;
  &:hover {
    color: $color5;
    border-color: $accent;
  }
}

.right-menu {
  display: flex;
  flex-direction: row;
}
