.header {
  display: flex;
  background-color: $color1;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  color: $color5;
}

.head-title {
  width: 150px;
}

.login-btn-header {
  cursor: pointer;
  transition: all 0.4s ease;
  text-align: center;
  padding: 10px;
  height: 20px;
  width: 100px;
  font-size: 1rem;
  &:hover {
    color: $color5;
  }
}

.right-menu {
  display: flex;
  flex-direction: row;
}
