@import "./scss/palette";
@import "./scss/typography";
@import "./scss/base";
@import "./scss/components/container.scss";
@import "./scss/components/searchbar.scss";
@import "./scss/components/header.scss";
@import "./scss/components/title.scss";
@import "./scss/components/article.scss";
@import "./scss/components/form.scss";

html {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $color5;
  }

  ::-webkit-scrollbar-thumb {
    background: $color1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $accent;
  }
}
